extends ./layout.jade


block header
    include ./lib.jade
    .gruppenbild
        .container-fluid
            include ./navbar.jade
        .title
            h1 Die Bewahrer 
                br
                des Gleichgewichts
        .hat-row
            each char in characters
                .larp-char
                    a(href="#" + char.metadata.name)
                        img.char-img(src=getHut(char), alt=char.metadata.name)
                        h2.text-center.char-name=char.metadata.name



                    
block main
    .container
        .row
            .col-md-2
            div.col-md-8
                != page.html
                h1 Mitglieder der Bewahrer
                each char in characters
                    h2
                        != char.metadata.name
                    .char-paragraph
                        .char-story
                            != char.html
                        img.char-portrait(src=getHut(char), alt=char.metadata.name)
                != contents["impressum.md"].html
