extends ./layout.jade


block header
    a.wikilink(href="http://wiki.magierdinge.de/") Interne Wiki
    a.back-to-top(href="#") Zum Anfang
    include ./lib.jade
    .gruppenbild
        div
            .title
                a(href="/")
                    h1 Die Bewahrer <br/> des Gleichgewichts
            .hat-row
                each char in characters
                    .larp-char
                        a(href="#" + slugify(char.metadata.name))
                            img.char-img(src=getHut(char), alt=char.metadata.name)
                            h2.text-center.char-name=char.metadata.name



                    
block main
    .einleitung
       != page.html
    .charlist
        h1 Mitglieder der Bewahrer
        .charlist-flex
            each char in characters
                hr
                .char-page
                    h2(id=slugify(char.metadata.name))
                        != char.metadata.name
                    .char-paragraph
                        .char-story
                            != char.html
                        img.char-portrait(src=getHut(char), alt=char.metadata.name)

block aside
    - var tableOfContents = toc(page.markdown).json;
    each heading in tableOfContents
        li
            a(href="#" + slugify(heading.content))
                != heading.content

block footer
    .impressum           
        != contents["impressum.md"].html
        img.banner(src="/img/Banner.jpg")
